 /********************* Header Slideshow Start **************/
 * {
    box-sizing: border-box
  }

  body {
    font-family: Verdana, sans-serif;
    margin: 0;
  }

  .mySlides {
    display: none
  }

  img {
    vertical-align: middle;
  
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: rgb(72, 82, 82) !important;

    padding: 8px 12px;
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: center;
  }

  .h3 {
    font-size: 80px;
  }

  .p-fade {
    font-size: 15px;
  }

  .btn-order {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    top: 100%;
    left: 45%;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
  }
  .btn-order:hover{
 box-shadow: greenyellow;
 background-color: black;
  }

  @media only screen and (max-width: 768px) {
    .text{
        bottom: 45px;
    }
    .h3{
      font-size: 25px;
    }
    .btn-order{
      font-size: 0.5rem;
    }
  }
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fade {
      from {
        opacity: .4;
      }

      to {
        opacity: 1;
      }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {

      .prev,
      .next,
      .text {
        font-size: 11px;
      }
    }
    /******************* Header Slideshow is End ***********************/

        /*********** Below Header Zoom-in when hover Start *********/
  
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; */

   

  .image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 550px;
  }

  .image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    margin: 5px;
    height: auto;
    transform: scale(1);
  }

  .image-box:hover img {
    transform: scale(1.1);
  }

  .centered {
    font-family: 'Roboto' sans-serif;
    font-weight: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 50px;
    transform: translate(-50%, -50%);
  }
  /*********** Below Header Zoom-in when hover End *********/

    /********** Fully Services part start ************/
    .bold {
font-weight: 700 !important;
}
.card-title {
font-size: 20px;
margin: 5%;

/* text-align: center; */
}
.row {
display: flex;
align-items: center;
justify-content: center;
/* gap: 9%; */
}

.last_col {
border: none !important;
}
.colm {
padding: 0px 50px;
border-right: 1px solid rgb(199, 197, 197);
/* border-left: 1px solid rgb(199, 197, 197); */
height: 180px;

/* margin-right: 80px; */
}
.p-4 {
font-size: 29px !important;
font-weight: 800;
}
.mt-4 {
display: flex;
justify-content: center;
align-items: center;
gap: 8%;
}
.font-weight-bold {
margin-top: 7%;
font-size: 48px;
/* width: 700px; */
display: flex;
/* margin-right: auto; */
/* margin-left: auto; */
justify-content: center;
align-items: center;
}

.card-body {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
line-height: 0px;
/* margin-right: 30px; */
/* padding: 0px 15%; */
}
.col {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
/* gap: 5%; */
line-height: 180%;
}
@media screen and (max-width: 1000px) {
.row {
  flex-wrap: wrap;
}
.colm {
  border: none;
}
.font-weight-bold {
  font-size: 23px;
}
.col {
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: center; */
}
}
/* @media screen and (min-width:601px) (max-width:1000px) */

   /********** Fully Services part End ************/

               /* <!-- *********Home Application and maintainance part End *****--> */
      h1 {
          width: 100%;
          font-family: poppins, sans-serif;
          color: #464e55;
          font-weight: 700;
       
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
      }

      .card_image {
          border-collapse: collapse;
          width: 100%;
          height: 300px;
          object-fit: cover;
          object-position: top;
          border-radius: 10px;
          overflow: hidden;
      }

      .tabview {
          display: none !important;
      }

      @media screen and (min-width: 601px) and (max-width: 1100px) {
          .card {
              width: 30% !important;
              height: auto !important;
              margin-bottom: 10% !important;
          }

          .card_title {
              height: 15px;
              text-align: center;
          }

          .hoverelement {
              display: none;
          }

          .tabview {
              display: block !important;
              display: flex !important;
          }
      }

      @media screen and (max-width: 600px) {
          .card_image {
              width: 100%;
              height: auto;
          }

          .hoverelement {
              display: none;
          }

          .card {
              width: 45% !important;
              margin: 0px 7px !important;
              margin-bottom: 8% !important;
          }

          .card_title {
              font-size: 13px !important;
              height: 10px;
              text-align: center;
          }

          .All_card {
              margin: 0px 1px !important;
          }

          .far {
              font-size: 15px !important;
              padding: 5px !important;
          }

          #far {
              top: 10px !important;
              right: 7px !important;
          }

          h1 {
              text-align: center;
          }

          #mobbtn {
              display: block !important;
              width: 30px;
          }
      }

      #mobbtn {
          display: none;
      }

      .card {
          position: relative;
          width: 22vw;
          cursor: pointer;
          margin: 0px 10px;
          margin-bottom: 40px;
      }

      .card p {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      i {
          color: #464e55;
      }

      .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          gap: 1%;
      }

      .card_price {
          color: rgb(60, 94, 241);
          font-size: 20px;
          font-weight: 900;
          font-family: poppins, sans-serif;
      }

      .card_title {
          font-size: 18px;
          font-family: poppins, sans-serif;
      }

      #far {
          position: absolute;
          top: 20px;
          right: 14px;
          display: flex;
          flex-direction: column;
          gap: 10px;
      }

      .far {
          background-color: #3074d4;
          padding: 1.1vw;
          font-size: 1.5vw;
          font-weight: 100;
          color: white;
          cursor: pointer;
      }

      .hoverimage {
          width: 340px;
          height: 425px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          object-fit: cover;
      }

      .hoverimage:hover {
          opacity: 1;
      }

      .para {
          position: absolute;
          display: flex;
          left: 15px;
          gap: 2%;
          align-items: center;
          justify-content: center;
      }

      .btn {
          padding: 1.3vw 4vw;
          color: white;
          background-color: #3074d4;
          display: block;
          margin-left: auto;
          margin-right: auto;
      }

      .hoverelement {
          opacity: 0;
      }

      .hoverelement:hover {
          opacity: 1;
      }

      .All_card {
          display: flex;
          flex-wrap: wrap;
          margin: 0px 20px;
      }
      @media screen and (max-width: 600px) {
          .btn{
              width: auto;
          }
      }
      /* <!-- *********Home Application and maintainance part End *****--> */
       

                /* <!-- **********Tranding Brand End********** --> */
                .clint-container {
          font-family: 'Montagu Slab', serif;
          font-family: 'Shippori Antique B1', sans-serif;
      }

      .section {
          background: var(--bg1);
          padding: 50px 50px 70px;
      }

      .heading {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 32px;
          text-align: center;
          width: auto;
          margin: 0 auto;
          margin-bottom: 14px;
          color: var(--color2);
      }

      /* .text {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 25px;
          text-align: center;
          width: auto;
          margin: 0 auto;
          margin-bottom: 57px;
          color: var(--color3);
          opacity: 0.7;
      } */

      .logo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          text-decoration: none;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
      }

      .logo li {
          text-decoration: none;
          list-style: none;
          margin: 10px 32px;
      }


      .logo li img {

          width: 230px;
          height: auto;
          cursor: pointer;
      }
      .logo li img:hover{
          color: black;
      }
      @media screen and (max-width: 600px) {
          .footer-iframe{
              height: 1500px;
              width: 100%;
          }
      }

      /* <!-- **********Tranding Brand End********** --> */
